:root{

    /* color */
    --lightblue: #C1DAD6;
    --midblue: #ACD1E9;
    --darkblue: #6D929B;
    --ivory: #E8D0A9;
    --grey: #B7AFA3;
    --white: #F5FAFA;
    


    /* space */
    --small-margin: 6px;
    --medium-margin: 18px;
    --large-margin: 30px;

    /* padding */

    --small-padding: 6px;
    --medium-padding: 12px;
    --large-padding: 18px;

    /* font-size */

    --small-font: 18px;
    --medium-font: 24px;
    --large-font: 30px;
}

*{
    margin:0;
    padding:0;
}

body{
    background-color: var(--white);
}

.app{
    margin: auto;
    width: 70%;
    text-align: center;
    background-color:var(--grey);
}

.mainbody .symbol{
    width:150px;
    margin:30px;
}

.maintitlegroup{
    padding: var(--large-padding) 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--lightblue);
}

.link{
    text-decoration: none;
}

.link:visited {
    text-decoration: none;
    color: black;
}

.sidebar{
    display:flex;
    flex-direction: column;
    background: var(--midblue);
    width: 14.5%;
    position: fixed;
    top: calc(2*var(--medium-margin));
    left: var(--small-margin);
    opacity: 100%;
}

.sidebar li{
    padding : var(--medium-padding) var(--large-padding);
}

.main{
    margin-left:  140px;
    background-color:  var(--blue);
}

.active{
    background-color: var(--lightblue);
    padding: var(--medium-padding);
}

.location{
    text-align: left;
    font-size: var(--small-font);
    background-color: var(--grey);
    margin: var(--medium-margin) 0 var(--small-margin) var(--small-margin)shoptitle
}

/* Cafe Home */

.homebody {
    display: flex;
    list-style: none;
    align-items: center;
}

.homebody .icon{
    width:150px;
    padding: var(--large-padding);
    margin: var(--medium-margin);

    
}

/*shop*/
.shoptitle {
    height:180px;
    background-color: var(--grey);
    margin: var(--medium-margin);
}

.head{
    margin:auto;
    width:100%;
    display:flex;
    align-items: center;
    background-color: var(--lightread);
    justify-content: space-between;
}


.head .icons{
    margin-right: 0;
    font-size: 25px;
    padding: 30px;
}

.head .icon{
    margin-right: 0;
    font-size: 25px;
    padding: 30px;
}

.picture {
    width: 100%;
    max-width: 500px;
    margin-right: 5px;
}

.icon:hover{
    background-color: var(--lightblue)
}

.commentsection{
    background-color: var(--white);
}

.comments{
    list-style: none;
    background-color: var(--ivory);
}

.commentlist{
    display: flex;
    margin: var(--medium-margin) var(--small-margin) ;
    font-size: var(--medium-font);
    padding: var(--medium-padding) 0;
    border-bottom: solid black 1px;
}

/*
@media screen and (max-width: 768px){

} */

.modal {
    font-size: 12px;
    background-color: lawngreen;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }