:root{

    /* color */
    --darkred: #e27d60;
    --lightblue: #85CDCB;
    --lightread: #E8A87C;
    --purple: #C38D9D;
    --blue: #40B3A2;

    /* space */
    --small-margin: 6px;
    --medium-margin: 18px;
    --large-margin: 30px;

    /* padding */

    --small-padding: 6px;
    --medium-padding: 12px;
    --large-padding: 18px;

}
*{
    margin:0;
    padding:0;
}

body{
    background-color: var(--lightblue);
}

.mainbody{
    margin: auto;
    display:flex;
}

.mainbody .symbol{
    width:150px;
    margin:30px;
}

.sidebar{
    display:flex;
    flex-direction: column;
    background: var(--darkred);
    width: 200px;
    position: fixed;
    top: calc(2*var(--medium-margin));
    left: var(--small-margin);
}


.app{
    margin: auto;
    width: 70%;
    text-align: center;
    background-color: rgb(32, 146, 70);
}

.sidebar li{
    padding : var(--medium-padding) var(--large-padding);

}

.main{
    margin-left:  140px;
    background-color:  var(--blue);
}

.active{
    background-color: rgb(255, 237, 204);
}

/*Cafe Inside!*/
.thepicker .head{
    margin:auto;
    width:100%;
    display:flex;
    align-items: center;
    background-color: var(--lightread);
}

.thepicker .title {
    height:200px;
}

.thepicker .head .icons{
    margin-right: 0;
    font-size: 25px;
    padding: 30px;
}

.thepicker .head .icon{
    margin-right: 0;
    font-size: 25px;
    padding: 30px;
}

.thepicker .picture {
    width: 700px;
}




.thepicker .icon:hover{
    background-color: yellowgreen;
}
/*
@media screen and (max-width: 768px){

} */